{% extends 'main.html' %}
{% load staticfiles %}
{% block registration %}
     <div class="general-container">
            <div class="container top-container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" id="test">
                        <form action="{% url 'authorize_registration:registration' %}" id="registration" method="post" >
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary " type="submit" >Зарегистрироваться</button>
                        </form>
                        <div id="error"></div>
                    </div>
                </div>
            </div>
    </div>
<script type="text/javascript" src="{% static 'authorize_registration/authorize_registration_ajax.js' %}"></script>

{% endblock %}
